.block-approach {
  position: relative;
  background: $white;
  color: $black;
  padding: 1em 0;

    @media(max-width: $tablet){
      padding: 0em 25px;
    }

  &_title {
    position: relative;
    max-height: 76px;
    display: flex;
    align-items: center;

    h2{
    	margin-bottom: 0em;
    }

    .close{
    	display: none;
    }
  }

  &_content{
  	
  }

  &_featured-image{
    padding-top: 20px;
  	margin-bottom: 1em;

  	img{
  		width: 100%;
	    height: 100%;
	    object-fit: contain!important;
      object-position: center;
  	}
  }

  &_paragraph{
  	border-bottom: 1px solid $black;
  	padding: 1.5em 0;

  	&:last-child{
  		border-bottom: 0px;
  	}
  }

  svg {
    fill: $black;
  }

  h2{
  	margin-bottom: 0.3em;
  }

  .container {
    border-top: 1px solid $black;
    padding: 1em 0em;
  }

  .scaling-svg {
    position: relative;
    height: 100%;
    width: 75px;
    padding-right: 1em;
    left: 0;
    top: 0;
  }

  @media(max-width: $tablet){

  	&_title{
  		max-height: 25px;
  		margin-bottom: 0em;

  		h2{
  			margin-bottom: 0em;
  		}
  	}
  	.accordion{
  		height: 0;
	    overflow: hidden;
	    opacity: 0;
	    visibility: hidden;
	    transition: 0.1s ease;

	    &.open{
	    	height: auto;
		    opacity: 1;
		    transition: 0.1s ease;
		    visibility: visible;
		    margin-top: 1.5em;
	    }
	  }
  	.scaling-svg{
  		width: 25px;
  	}
	  .close{
			display: flex;
			content: '';
			width:20px;
			height: 20px;
			background: $icon-plus-blk;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
	    top: 0px;
	    right: 0px;
	    transform: rotate(45deg);
	    transition: 0.1s ease;
	    appearance: none;
      border: none;

	    &.open{
	    	transform: rotate(0deg);
	    	transition: 0.1s ease;
	    }
	  }
	}
}

//Dark Mode

.dark {

  .block-approach {
    background-color: $black;
    color: $white;

    svg{
    	fill: $white;
    }

    &_paragraph{
    	border-bottom: 1px solid $white;

    	&:last-child{
	  		border-bottom: 0px;
	  	}
    }

    .container {
        border-top: 1px solid $white;
    }

    .close{
    	background: $icon-plus;
      appearance: none;
      border: none;
    }
  }
}