.block-team {
  position: relative;
  background: $white;
  color: $black;
  padding: 1em 0;

  @media(max-width: $tablet){
    padding: 0em 25px;
  }

  &_subtitle{
    padding-top: 10px;
  }

  &_title {
    position: absolute;
    max-height: 76px;
    display: flex;
    align-items: center;

    @media(max-width: $tablet){
      position: relative;
    }

    h2{
    	margin-bottom: 0em;
    }

    .close{
    	display: none;
    }
  }

  svg {
    fill: $black;
  }

  h2{
  	margin-bottom: 0.3em;
    padding-left: 25px;
  }

  .container {
    border-top: 1px solid $black;
    padding: 1em 0em;
  }

  .scaling-svg {
    position: relative;
    height: 100%;
    width: 75px;
    left: 0;
    top: 0;
  }

  &_member{
    display: flex;
    flex-direction: column;
    margin-top: 4em;

    &-images{
      position: relative;
      padding: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      min-height: 500px;

      @media(max-width: $tablet-large){
        padding: 20px;
        min-height: 300px;
      }

      .background-image{
        position: absolute;
        top: 0;
        left: 0;
      }

      &-hover{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &-one{
        opacity: 1;
        transition: $opacity;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

          img{
            width: 100%;
            height: auto;
            object-fit: contain !important;
            max-height: 550px;
            max-width: 100%;

            @media(max-width: $tablet-large){
              max-height: 350px;
            }
          }
      }

      &-two{
        position: absolute;
        opacity: 0;
        transition: $opacity;
        left: 50%;
        transform: translateX(-50%);

        img{
          width: 100%;
          height: auto;
          object-fit: contain !important;
          max-height: 550px;
          max-width: 100%;

          @media(max-width: $tablet-large){
            max-height: 350px;
          } 
        }
      }

      &:hover{
        .block-team_member-images-two{
          opacity: 1;
          transition: $opacity;
        }
      }
    }

    &-profile{
      margin-top:1em;

      h2{
        margin-bottom: 0px;
        padding-left: 0px;
      }

      &-title{
        color: $grey;
        margin-bottom: 1.5em;
      }
    }
  }

  @media(max-width: $tablet){

  	&_title{
  		max-height: 25px;
  		margin-bottom: 0em;

  		h2{
  			margin-bottom: 0em;
  		}
  	}
  	.accordion{
  		height: 0;
	    overflow: hidden;
	    opacity: 0;
	    visibility: hidden;
	    transition: 0.1s ease;

	    &.open{
	    	height: auto;
		    opacity: 1;
		    transition: 0.1s ease;
		    visibility: visible;
		    margin-top: 1.5em;
	    }
	  }
  	.scaling-svg{
  		width: 25px;
  	}
	  .close{
			display: flex;
			content: '';
			width:20px;
			height: 20px;
			background: $icon-plus-blk;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
	    top: 0px;
	    right: 0px;
	    transform: rotate(45deg);
	    transition: 0.1s ease;
	    appearance: none;
      border: none;

	    &.open{
	    	transform: rotate(0deg);
	    	transition: 0.1s ease;
	    }
	  }
	}
}

//Dark Mode

.dark {
  .block-team {
    background-color: $black;
    color: $white;

    svg{
    	fill: $white;
    }
    .container {
        border-top: 1px solid $white;
    }
    .close{
    	background: $icon-plus;
      appearance: none;
      border: none;
    }
  }
}