.block-related{
  position: relative;
  background: #fff;
  padding-top: 12em;
  
  h1{
    margin-bottom: 15px;
  }

  .container{
    @media(max-width: $mobile){
      max-width: calc(100% - 50px);
      padding: 0px;
    }
  }
}