.block-cta{
	padding: 2em 0 8em;
	margin-top: 8em;
	
	a{
		text-decoration: none;
		&:hover{

			h1{
				border-bottom: 3px solid $red;
			}
		}

		h1{
	    border-bottom: 3px solid $black;
	    display: inline-block;
	    line-height: 68px;
	    margin-top: 10px;
		}
	}
}

.dark{
	.block-cta{
		color:$white;
	}
	a{
		color:$white;
		&:hover{
			color:$red;

			h1{
				border-bottom: 3px solid $red;
			}
		}
		
		h1{
	    border-bottom: 3px solid $white;
	    display: inline-block;
	    line-height: 68px;
	    margin-top: 10px;
		}
	}
}