.block-testimonials{
	position: relative;
	background: $white;
	color: $black;
	padding: 1em 0;

	@media(max-width: $tablet){
		padding: 0em 25px;
	}
	
	.container {
		border-top: 1px solid #000;
		padding: 1em 0em;
	}

	&_title {
		position: relative;
		max-height: 76px;
		display: flex;
		align-items: center;
	
		h2{
			margin-bottom: 0em;
		}
	
		.close{
			display: none;
		}
		
		.arrow-button{
		  display: none;
	
		  @media(max-width: $tablet){
			display: block;
			width: 100%;
			background: transparent;
			border: none;
			text-align: left;
			color: $white;
			padding: 0px;
			position: absolute;
			top: -13px;
			height: 50px;
		  }
		}
	  }

	.swiper{

		&-pagination{
			bottom: 0;
			position: relative;
			text-align: start;
			top: 0;

			&-bullet {
				width: auto;
				margin: 0 1rem 0 0;
				font-size: 36px;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.72px;

				&::after {
					content:','
				}
				&:last-child::after {
					content:''
				}

				@media(max-width: $tablet){
					font-size: 28px;
					letter-spacing: -0.56px;
				}

				&-active{
					text-decoration: underline;
					background: none;
				}
			}
		}
		&-wrapper{
			margin-top: 2rem;

			.swiper-slide{
				opacity: 0 !important;

				&-active {
					opacity: 1 !important;
				}

				blockquote{
					color:$white;
					font-size: 36px;
					font-weight: 700;
					margin-bottom: 40px;
					letter-spacing: -0.52px;
					line-height: normal;

					&::before {
						content: '\201C';
					}
					&::after {
						content: '\201D';
					}

					@media(max-width: $tablet){
						font-size: 26px;
					}
				}
				p{
					color: #AFAFAF;
					font-size: 20px;
					line-height: 26px; /* 130% */
					letter-spacing: -0.4px;
					margin-bottom: 12px;

				}
				img {
					// width: 140px;
					max-width: 100%;
					max-height: 50px;
					margin-bottom: 1rem;
				}
			}
		}
	}

	.arrow-button {
        display: block;
        width: 100%;
        background: transparent;
        border: none;
        text-align: left;
        color: $white;
        padding: 0px;
        position: absolute;
        top: -13px;
        height: 50px;
    }
	svg {
		fill: $black;
		position: relative;
		height: 100%;
		width: 75px;
		left: 0;
		top: 0;
	}

	h2 {
		margin-bottom: 0.3em;
    	padding-left: 25px;
	}

	@media(max-width: $tablet){

		&_title{
			max-height: 25px;
			margin-bottom: 0em;
  
			h2{
				margin-bottom: 0em;
			}
		}
		.accordion{
			height: 0;
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
			transition: 0.1s ease;
	
		  &.open{
			  height: auto;
			  opacity: 1;
			  transition: 0.1s ease;
			  visibility: visible;
			  margin-top: 1.5em;
		  }
		}
		.scaling-svg{
			width: 25px;
		}
		.close{
			display: flex;
			content: '';
			width:20px;
			height: 20px;
			background: $icon-plus-blk;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			top: 15px;
			right: 0px;
			transform: rotate(45deg);
			transition: 0.1s ease;
			appearance: none;
			border: none;
  
			&.open{
				transform: rotate(0deg);
				transition: 0.1s ease;
			}
		}
	}
}

.dark .block-testimonials {
	
	background-color: $black;
    color: $white;

    svg{
    	fill: $white;
    }

    .container {
        border-top: 1px solid $white;
    }

    .close{
    	background: $icon-plus;
		appearance: none;
		border: none;
    }

	&_title {
		color: $white;
	}

	&_content {
		color: $white;
	}

	.swiper {
		&-pagination{
			&-bullet {
				color: $white;
			}
		}
	}


	.arrow-button {
        display: block;
        width: 100%;
        background: transparent;
        border: none;
        text-align: left;
        color: $white;
        padding: 0px;
        position: absolute;
        top: -13px;
        height: 50px;
    }
}