.marquee {
    height: 100%;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    padding: 60px 0;

    @media(max-width: $tablet){
        padding: 32px 0;
        min-height: 115px;
    }
    
    div {
        display: flex;
        width: 100%;
        position: absolute;
        overflow: visible;
        animation: marquee 15s linear infinite;

        &:hover {
            -moz-animation-play-state: paused;
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }

        a {
            text-decoration: none;
        }
    }

    span {
        white-space: nowrap;
        will-change: transform;
        text-align: center;
        color: $white;
        font-weight: 300;
        font-size: 128px;
        line-height: 147px;
        letter-spacing: -0.02em;
        
        @media(max-width: $tablet){
            font-size: 42px;
            line-height: 56px;
        }
    }

    .cursor-text--Reach_Out span {
        font-size: 7rem;
        line-height: 7rem;
        
        @media(max-width: $tablet){
            font-size: 3rem;
            line-height: 3rem;
        }
    }
}
  
  
@keyframes marquee {
    0% { left: 0; }
    100% { left: -200%; }
}