.dual-images {
    position: relative;
    background-color: $white;

    .container {

        [class*="col-xs"] {

            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0.5em;
            padding-top: 0.5em;

            &:nth-of-type(odd) {
                padding-right: 0.5rem;
            }

            &:nth-of-type(even) {
                padding-left: 0.5rem;
            }
        }
    }

    &_window{
        position: relative;
        // 16x9 aspect ratio
        &:before{
            content: '';
            padding-bottom: 56.25%;
            display: block;
        }
    }

    &_img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;

        opacity: 0;
    }
}

.dark {

    .dual-images {
        background-color: $black;
    }
}