.full-width-image {
    display: flex;
    position: relative;
    z-index: 1;
    padding-bottom: 1em;
    background-color: $white;

    &_img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}

//Dark Mode
.dark {

    .full-width-image {
        background-color: $black;
    }
}