@import '../styles/variables.scss';

//Dark body class

.dark{
  background: #000;

  .desk-nav{

    .logo{
      fill: $white;
    }

    .nav-link{

      &_text{
        color: $white;
      }
    }
  }

  .mob-nav{

    .logo{
      fill: $white;
    }

    .nav-burger{

      span{
        background-color: $white;
      }
    }
  }
}

//Basics

.container {
  margin: auto;
  max-width: $max-width;
  font-family: sans-serif;
  padding: 0 20px;

  @media(max-width: $tablet){
    padding: 0px;
  }

    .heading {
      color: #efefef;
  }

}
main{

    .heading {
      color: #efefef;
    }
}

header{

  &.site-title {
      font-size: 3rem;
      color: gray;
      font-weight: 700;
      margin: 3rem 0;
    }
}
