// Global Styles
.dark {
    background: #000;

    .desk-nav {

        .logo {
            fill: $white;
        }

        .nav-link {

            &_text {
                color: $white;
            }
        }
    }

    .mob-nav {

        .logo {
            fill: $white;
        }

        .nav-burger {

            span {
                background-color: $white;
            }
        }
    }
}
