@import '../styles/variables.scss';

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: $max-width;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @media(min-width: $max-width){
        max-width: 1960px;
    }
}

//Desktop Navigation

.desk-nav {
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: calc(100% - 70px);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 35px;

    @media(max-width: $tablet) {
        display: none;
    }

    .logo {
        display: flex;
        position: relative;
        align-items: center;
        height: 50px;
        width: 128px;
        fill: #000;

        svg {
            height: auto;
        }

        .scaling-svg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        height: auto;
        padding: 0px;
        list-style: none;
    }

    .nav-link {

        &_item {
            padding-right: 4em;

            &:before {
                display: none;
            }

            &:last-child {
                padding-right: 0em
            }
        }

        &_text {
            color: black;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;

            &:hover {
                color: $red;
            }
        }
    }
}

//Mobile Navigation
.mob-nav {
    display: none;

    @media(max-width: $tablet) {

        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            height: 1.2em;
            width: 6em;
            fill: #000;
            padding: 0 1em;
            margin-top: 10px;

            svg {
                height: 35px;
            }
        }
    }

    &.light {

        .logo {
            fill: $white;
        }

        .nav-burger {
            span {
                background-color: $white;
            }
        }

    }

    .nav-burger {
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        right: 0em;
        top: 17px;
        cursor: pointer;
        z-index: 99;

        span {
            width: 22px;
            height: 2px;
            position: absolute;
            background: #000;
            transition: $ease;

            &:nth-of-type(1) {
                top: 0.4em;
                transform: rotate(0deg);
            }

            &:nth-of-type(2) {
                opacity: 1
            }

            &:nth-of-type(3) {
                top: 0.79em;
                transform: rotate(0deg);
            }
        }

        &.open {

            span {
                background-color: $white;

                &:nth-of-type(1) {
                    top: 0.5em;
                    transform: rotate(45deg);
                    transition: $ease;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                    transition: $ease;
                }

                &:nth-of-type(3) {
                    top: 0.5em;
                    transform: rotate(-45deg);
                    transition: $ease;
                }
            }
        }
    }

    .hidden-nav {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: $black;
        top: 0;
        left: 0;
        transform: translateX(-100vw);
        transition: $ease;
        z-index: 1;

        &.open {

            span {

                &:nth-of-type(1) {
                    top: 0.4em;
                    transform: rotate(35deg);
                    transition: $ease;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                    transition: $ease;
                }

                &:nth-of-type(3) {
                    top: 0.79em;
                    transform: rotate(-35deg);
                    transition: $ease;
                }
            }
        }
    }

    &.open {

        .hidden-nav {
            transform: translateX(0vw);
            transition: $ease;
        }

        .logo {
            fill: $white;
            z-index: 998;

        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        height: auto;
        padding: 0 1em;
        flex-direction: column;
        color: $white;
        margin-top: 5em;
        margin-left :0;

        a {
            text-decoration: none;
            font-weight: 400;
        }
    }

    .nav-link {

        &_item {

            &:before {
                display: none;
            }
        }

        &_text {
            color: $white;

            &:hover {
                color: $red;
            }

            h1 {
                margin-bottom: 15px;
            }
        }
    }

    .more-links {
        position: absolute;
        bottom: 0em;
        display: flex;
        flex-direction: column;
        padding: 0.5em;

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            color: $grey;
            text-decoration: none;
            margin-bottom: 10px;
        }
    }
}