.page-title {
    padding-top: 16.25em;
    background: $white;
    position: relative;
    display: flex;
    z-index: 3;

    @media(max-width: $tablet) {
        padding-top: 5.6875em;
    }

    h1 {
        margin-bottom: 0.2em;
    }

    h2 {
        margin-bottom: 3.125em;
    }
}

//Dark Theme
.dark {
    .page-title {
        background: $black;

        h1 {
            color: $white;
        }

        h2 {
            color: $white;
        }
    }
}