// Font Styles

body {
    font-family: sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: 72px;
    line-height: 84px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -2px;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
}

ol{}
ul {
    list-style: none;
    position: relative;

    li {
      
        &:before {
            content: '—';
            position: absolute;
            left: -1.5em;

        }
    }
}

ul, ol{
    margin-left: 3.5em;

    li {
        font-size: 22px;
        line-height: 33px;
    }
}

a{
    color: $black;
    transition: $color;s

    &:hover{
        color: $red;
        transition: $color;
    }
}

::-moz-selection {
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}
//Tablet Large 1440px

@media(max-width: $tablet-large){

    h1{
        font-size: 64px;
        line-height: 74px;
    }

    h2{
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0px;
    }

    p{
        font-size: 18px;
        line-height: 25px;
    }

    ul, ol{

        margin-left: 2.5em;

        li {

            font-size: 18px;
            line-height: 25px;
        }
    }

}

//Tablet 1024px

@media(max-width: $tablet) {

    h1{
        font-size: 52px;
        line-height: 62px;
    }

    h2{
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0px;
    }

    p{
        font-size: 16px;
        line-height: 24px;
    }

    ul, ol{

        margin-left: 2.5em;

        li {

            font-size: 16px;
            line-height: 24px;
        }
    }
}