.work-intro{
	margin-top:4.6875em;

	&_read-more{

		&-button{
			// margin-top:2em;
		    appearance: none;
		    border: none;
		    background: none;
		    padding: 0px;
		    text-decoration: underline;

		    &:hover{
		    	color:$red;
		    	cursor: pointer;
		    }
		}

		&-content{
			margin-top: 2em;
			height:0;
			opacity: 0;
			transition: 0.1s ease;
			pointer-events: none;
			visibility: hidden;

			&.open{
				height: auto;
				opacity: 1;
				transition: 0.1s ease;
				visibility: visible;
				margin-bottom: 2em;
			}
		}
	}
}