$max-width: 1920px;

.container {
  margin: auto;
  max-width: $max-width;
  font-family: sans-serif;
  padding: 0 20px;

    .heading {
      color: #efefef;
  }

}
main{
    .heading {
      color: #efefef;
    }
}

header{
  &.site-title {
      font-size: 3rem;
      color: gray;
      font-weight: 700;
      margin: 3rem 0;
    }
}
